= form_for(@video_setting, :url => url , :html => {:class => "validation"}) do  |f|
  = gb_error_messages_for(@video_setting)
  .span5
    %legend
      Video Setting
    %p
      = f.label :name
      = f.text_field(:name)
    %p
      = f.label :file_postfix
      = f.text_field(:file_postfix)
    %p
      = f.label :command
      = f.text_area(:command   )

    = form_controls(admin_video_settings_path)

  .clear