- @window_title = "Video Settings"
- @page_title = "#{link_to "Settings", admin_configurations_path} > #{link_to('Video Settings', admin_video_settings_path)} > Edit video setting"

= render :partial => "form" , :locals => { :url => admin_video_setting_path( @video_setting) }