- @window_title = "Video Settings"
- @page_title = "#{link_to "Settings", admin_configurations_path} > Video Settings"
.row-fluid
  = render :partial => "/gluttonberg/admin/settings/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title.html_safe
      .subnav
        = sub_nav do
          = nav_link('New', new_admin_video_setting_path)

      - if @video_settings.empty?
        %p.empty No video settings
      - else
        %table{:cellspacing => 0, :cellpadding => 0, :summary => "List of video settings", :class => "table table-bordered"}
          %thead
            %tr
              %th Name
              %th Postfix
              %th Command
              %th.controls Controls
          %tbody
            - i = 0
            - for video_setting in @video_settings
              - i += 1
              %tr{ :class => "#{i % 2 == 0? "even" : ""}"}
                %td= video_setting.name
                %td= video_setting.file_postfix
                %td= video_setting.command
                %td.controls
                  = link_to('Edit', edit_admin_video_setting_path(video_setting), :class => "btn")
                  = link_to "Delete", delete_admin_video_setting_path(video_setting), :class => "btn btn-danger"
